:root{
  --primary: #000000;
  --secondary: #14213d;
  --tertiary: #ffffff;
  --quaternary: #c0c0c0;
  --quinary: #fca311;
  --error: rgb(139, 0, 0); 
  --success: rgb(0, 131, 50);
}

@tailwind base;
@tailwind components;
@tailwind utilities;